version: '3.3'
services:
  web:
    image: tubes-1:latest
    ports:
      - 8080:80
    build: 
      context: .
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - ./src/App:/var/www/html

  mysql:
    image: mysql:latest
    ports:
      - 3307:3306
    env_file: .env
    volumes:
      - ./mysql:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    environment:
      - PMA_HOST=mysql
    ports:
      - 8081:80
    depends_on:
      - mysql