#form {
    align-items: center;
    gap: 10px;
    margin-left: 20px; /* Center the form */
    margin-top: 10px;
}
  
label {
    font-weight: bold;
    white-space: nowrap;
}
  
input[type="text"],
select,
input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
  
select {
    min-width: 100px; /* Adjust the width as needed */
}
  