#form {
    align-items: center;
    gap: 10px;
    margin-left: 20px; /* Center the form */
    margin-top: 10px;
}
  
label {
    font-weight: bold;
    white-space: nowrap;
}
  
input[type="text"],
select,
input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
  
select {
    min-width: 100px; /* Adjust the width as needed */
}
  
  /* Style the submit button if you have one */
input[type="submit"] {
    background-color: #007bff; /* Change to your desired button color */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
input[type="submit"]:hover {
    background-color: #0056b3; /* Change to your desired hover color */
}
  