.product-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.product-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

img, video {
    width: 350px;
    height: auto;
}