
.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.product-image img, video{
    max-width: 100%; /* Set the maximum width to 100% of the container */
    max-height: 300px; /* Set the maximum height (adjust as needed) */
    width: auto; /* Ensure the image scales proportionally */
    height: auto;
}

.product-details {
    flex: 1;
    padding: 20px;
}

.product-details h2 {
    font-size: 24px;
    margin: 0;
}

.product-details h4 {
    font-size: 18px;
    color: #f00; /* Price color (customize as needed) */
    margin: 10px 0;
}

.product-details p {
    font-size: 16px;
}

.product-actions {
    margin-top: 20px;
}

.product-actions h3 {
    font-size: 18px;
    margin: 0;
}

#quantity {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.stock-info {
    font-size: 14px;
    margin: 5px 0;
}
